    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
  
      .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('tiles/0-the-upper-vestibule/preview.jpg'); /* Replace 'path_to_your_image.jpg' with your image URL */
        background-size: cover;
        filter: blur(8px); /* Adjust the blur strength as desired */
        animation: moveBackground 30s linear infinite;
      }
  
      .button-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
  
      .animated-button {
        display: inline-block;
        padding: 20px 40px;
        background-color: #3498db;
        color: #fff;
        font-size: 24px;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
      }
  
      .animated-button:hover {
        transform: scale(1.1);
      }
  
      .link-text {
        color: #fff;
        font-size: 18px;
        margin-top: 10px;
      }
  
      @keyframes moveBackground {
        0% { transform: translateX(0); }
        100% { transform: translateX(-100%); }
      }